@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500&display=swap');

body {
    font-family: 'Mali', cursive;
    color: #2b2d42;
    background-color: #e6e6e6;
    text-align: center;
}

a {
    text-decoration: none !important;
}

/* =============================== Nav Section =============================== */
nav {
    height: 55px;
    background-color: #9fd9de;
}

.nav-symbol h3 {
    font-size: 2.25rem;
    /* font-weight: 400 !important; */
    font-weight: 500 !important;
    color: #2b2d42;
}

nav a {
    color: #2b2d42;
}

.navbar-brand img {
    vertical-align: baseline;
}

.nav-link {
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin-bottom: 2px;
    margin-top: 6px;
    line-height: 5px;
    color: #993300;
}

.nav-link:hover {
    color: #2b2d42;
}

.nav-text-align {
    text-align: end;
}

.navbar-toggler-icon i {
    color: #993300;
    font-size: 25px;
    height: 25px;
    width: 25px;
}

#navbarNavDropdown {
    background-color: #9fd9de;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.navbar button:focus {
    outline: none;
}

/* =============================== Footer ==================================== */

footer {
    background-color: #9fd9de;
}

.social-icons {
    color: #2b2d42;
}

.social-icons:hover {
    color: #993300;
}

/* =============================== Buttons =================================== */

.btn {
    color: #ffffff;
    font-size: 1.25rem;
}

.btn-reg {
    background-color: #2b2d42;
}

.btn:hover {
    color: #9fd9de;
}

/* =============================== Base Section ============================== */

.flashes h4 {
    line-height: 3;
    background-color: #2b2d42;
    color: #9fd9de;
}

/* =============================== Profile Section =========================== */

.creations {
    background-color: #9fd9de;
}

/* =============================== SignUp Section ============================ */

.signup-form {
    background-color: #9fd9de;
    font-size: 1.25rem;
}

.signup-login {
    color: #993300;
}

.signup-login:hover {
    color: #2b2d42;
}

/* =============================== Add_Sandwich Section ====================== */

.select-box {
    height: 2.4rem !important;
    margin-left: -10px;
}

/* =============================== Sandwiches Section ======================== */

.search-input input {
    height: 100%;
    width: 50%;
}

.btn-search {
    margin-top: -5px;
}

.sandwich-url {
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: #9fd9de;
}

.no-results {
    height: 50vh;
}

/* =============================== Add and Edit Forms ======================== */

.sandwich-forms {
    background-color: #9fd9de;
}