@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

body {
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Mali', cursive;
    color: #2b2d42;
    background-color: #e6e6e6;
    text-align: center;
}

a {
    text-decoration: none !important;
}

.text-shadow {
    text-shadow: 2px 2px #A9A9A9;
}

/* =============================== Nav Section =============================== */
nav {
    height: 55px;
    background-color: #9fd9de;
}

.nav-symbol h3 {
    font-size: 2.25rem;
    font-weight: 600 !important;
    color: #2b2d42;
    margin-left: 1rem;
}

nav a {
    color: #2b2d42;
}

.navbar-brand img {
    vertical-align: baseline;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 10px 0 10px;
    margin-bottom: 2px;
    margin-top: 6px;
    line-height: 5px;
    color: #2b2d42;
}

.nav-link:hover {
    color: #993300;
}

.nav-text-align {
    text-align: end;
}

.navbar-toggler-icon i {
    color: #2b2d42;
    font-size: 25px;
    height: 25px;
    width: 25px;
}

#navbarNavDropdown {
    background-color: #9fd9de;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.navbar button:focus {
    outline: none;
}

/* =============================== Footer ==================================== */

footer {
    background-color: #9fd9de;
}

.social-icons {
    color: #2b2d42;
}

.social-icons:hover {
    color: #993300;
}

/* =============================== Buttons =================================== */

.btn {
    color: #ffffff;
    font-size: 1.25rem;
}

.btn-reg {
    background-color: #2b2d42;
}

.btn-signup {
    font-size: 2rem;
}

.btn:hover {
    color: #9fd9de;
}

.view-btn-text strong:hover {
    color: #993300;
}

/* =============================== Base Section ============================== */

.flashes h4 {
    line-height: 3;
    background-color: #2b2d42;
    color: #9fd9de;
}

/* main {
    padding: 0 !important;
} */

/* =============================== Index Section ============================= */

.callout-container {
    margin: -20% 0 0 !important;
    padding: 20% 0 30% !important;
    background-color: #9fd9de;
    height: 50vh;
    width: 100vw;
    margin-left: -15px !important;
}

.callout-img img {
    max-width: 80%;
}

.callout-text h1 {
    font-size: 6vw;
}

.favourites {
    font-size: 4vw;
}

.fav-container {
    margin-top: 10rem;
}

.hype-text {
    font-size: 2.5rem;
}

.hype-text em:hover {
    color: #993300;
}

/* =============================== Profile Section =========================== */

.creations {
    background-color: #9fd9de;
}

/* =============================== SignUp Section ============================ */

.signup-form {
    background-color: #9fd9de;
    font-size: 1.25rem;
}

.signup-login {
    color: #993300;
}

.signup-login:hover {
    color: #2b2d42;
}

/* =============================== Add_Sandwich Section ====================== */

.select-box {
    height: 2.4rem !important;
    width: 20vw;
}

/* =============================== Sandwiches Section ======================== */

.search-input input {
    height: 100%;
    width: 50%;
}

.btn-search {
    margin-top: -5px;
}

.sandwich-url {
    height: 200px;
    object-fit: cover;
}

.sandwich-card {
    max-width: 400px;
    margin: auto;
}

.card-body {
    background-color: #9fd9de;
}

.no-results {
    height: 50vh;
}

/* =============================== View Sandwich Section ===================== */

.sandwich-title {
    font-size: 3rem;
    font-weight: 600;
}

.view-sandwich-img {
    height: 60vh;
    width: 40vw;
    object-fit: cover;
}

.img-background {
    background-color: #9fd9de;
}

.description-text {
    font-size: 1.5rem;
}

.instructions-card {
    background-color: #9fd9de;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.instructions-card ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2rem;
}

/* .ingredients-list {
    margin-left: 25%;
} */

/* =============================== Add and Edit Forms ======================== */

.sandwich-forms {
    background-color: #9fd9de;
}

/* =============================== Media Queries ============================= */

@media screen and (max-width: 395px) {

}

@media screen and (max-width: 395px) {
    .nav-symbol h3 {
        font-size: 1.5rem;
    }
    .callout-container {
    height: 30vh;
    }

    .btn-signup {
    font-size: 1rem;
    }

    .hype-container div {
        margin-left: 0;
    }

    .hype-text {
    font-size: 1.2rem;
    }

    .favourites {
    font-size: 10vw;
    }
}