{% extends "base.html" %}
{% block content %}
 
<div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="card mt-5 text-left sandwich-forms pt-3" method="POST" action="{{ url_for('add_category') }}">
                <div class="col-12">
                    <h3 class="text-center">Add Category</h3>
                </div>
                <div class="m-2">
                    <label class="form-label" for="category">
                        Category Name
                    </label>
                    <input class="form-control" type="text" id="category" name="category" maxlength="25">
                </div>
                <button type="submit" class="btn btn-reg m-3 btn-signup">
                    Create Category <i class="fas fa-folder-plus"></i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}