{% extends "base.html" %}
{% block content %}

    <h3 class="">Manage Categories</h3>


    <div class="row">
        <div class="col">
            <a href="{{ url_for('add_category') }}" class="btn btn-success">
                Add Category <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in category %}
                <div class="col-md-6 col-lg-4">
                    <div class="card card-classes mt-5">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.category }}</h5>
                            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-danger">Remove</a>
                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-reg">Edit</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}