{% extends "base.html" %}
{% block content %}
<div class="row container-fluid callout-container">
    <div class="col-6 callout-img">
        <!-- <img src="static/Img/Image_by_Clker_from_Pixabay-trim.png"> -->
        <!-- <img src="static/Img/Image_by_Clker_from_Pixabay-blknwht.png"> -->
        <img src="static/Img/Image_by_Clker_from_Pixabay-line.png">
    </div>
    <div class="col-6 callout-text">
        <h1>The Best<br>Thing Since<br>Sliced Bread</h1>
    </div>
</div>

 

{% endblock %}