{% extends "base.html" %}
{% block content %}

    <div class="container">
            <div class="row">
                <div class="col-12 my-3">
                    <h3 class="sub-headers">
                        <i class="fa fa-id-card"></i> {{ username }}'s Profile</h3>
                    <hr class="block-divider" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card card-classes mt-5">
                        <img src="assets/images/zumba.jpg" class="card-img-top" alt="Zumba Class" />
                        <div class="card-body">
                            <h5 class="card-title">Zumba</h5>
                            <p class="card-text">
                                Zumba is a combination of salsa dancing and aerobics which gives you a full body work out. Our Zumba class involves fast and slow dancing working the whole body for a great all-round work out.
                            </p>
                            <p class="time-class">Mondays 18:00</p>
                            <a href="#" class="btn btn-reg">Book Class</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card card-classes mt-5">
                        <img src="assets/images/step-aerobics-Image-step-aerobics.jpg" class="card-img-top" alt="Step Class" />
                        <div class="card-body">
                            <h5 class="card-title">Step</h5>
                            <p class="card-text">
                                Step is a rhythm based class on a short raised platform that you step up and down on in different patterns. Our step classes are a really fun way to get you moving and to improve your cardio fitness.
                            </p>
                            <p class="time-class">Tuesdays 18:00</p>
                            <a href="#" class="btn btn-reg">Book Class</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card card-classes mt-5">
                        <img src="assets/images/spinning-royalty-free.jpg" class="card-img-top" alt="Spin Class" />
                        <div class="card-body">
                            <h5 class="card-title">Spinning</h5>
                            <p class="card-text">
                                Spinning is a stationary cycle class that combines relies fast-paced cycling and slower paced rest intervals allowing you time to recover for the next speed burst.
                            </p>
                            <p class="time-class">Wednesdays 18:00</p>
                            <a href="#" class="btn btn-reg">Book Class</a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}