{% extends "base.html" %}
{% block content %}

    {% for sandwich in sandwiches %}
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card sandwich-card mt-5">
                    <img src="{{ sandwich.image_url }}" class="card-img-top" alt="Sandwich Image" />
                    <div class="card-body">
                        <h5 class="card-title">{{ sandwich.sandwich_name }}</h5>
                        <p class="card-text">{{ sandwich.category }}</p>
                        <p class="card-text">{{ sandwich.prep_time }}</p>
                        <p class="card-text">Created by: {{ sandwich.created_by }}</p>
                        {% if session.user|lower == sandwich.created_by|lower %}
                        <a href="{{ url_for('delete_sandwich', sandwich_id=sandwich._id) }}" class="btn btn-done">Done</a>
                        <a href="{{ url_for('edit_sandwich', sandwich_id=sandwich._id) }}" class="btn btn-edit">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}