{% extends "base.html" %}
{% block content %}

    <h1 class="mt-5">SIGN UP</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="card mt-5 text-left signup-form" method="POST" action="{{ url_for('signup') }}">
                <div class="m-3">
                    <label for="username" class="form-label">
                        <i class="fas fa-user-plus ml-2"></i> Username
                    </label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="m-3">
                    <label for="email" class="form-label">
                        <i class="fas fa-at ml-2"></i> Email address
                    </label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="ml-3 mr-3 mb-3">
                    <label for="password" class="form-label">
                        <i class="fas fa-lock ml-2"></i> Password
                    </label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn m-3 btn-signup">Sign Up</button>
            </form>
        </div>
    </div>

{% endblock %}