{% extends "base.html" %}
{% block content %}

    <h1 class="mt-5">SIGN UP</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="card mt-5 text-left signup-form" method="POST" action="{{ url_for('signup') }}">
                <div class="m-3">
                    <label for="username" class="form-label">
                        <i class="fas fa-user-plus ml-2"></i> Username
                    </label>
                    <input class="form-control" type="text" id="username" name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title="Please use between 5-15 characters. Letters and Numbers only" required>
                </div>
                <div class="m-3">
                    <label for="email" class="form-label">
                        <i class="fas fa-at ml-2"></i> Email Address
                    </label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="m-3">
                    <label for="password" class="form-label">
                        <i class="fas fa-lock ml-2"></i> Password
                    </label>
                    <input class="form-control" type="password" id="password" name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title="Please use letters and numbers only" required>
                </div>
                <button type="submit" class="btn btn-reg m-3 btn-signup">Sign Up</button>
                 <small class="text-muted text-center">Already a member? Login <a href="{{ url_for('login') }}" class="signup-login">Here.</a></small>
            </form>
        </div>
    </div>

{% endblock %}